{{- define "aside" -}}
    {{ partial "author-sidebar.html" . }}
{{- end -}}

{{- define "top" -}}
    {{- $paginator := partial "paginator.html" . }}
    {{- if not $paginator.HasPrev }}
        {{- with .Content }}
            {{ partial "hero.html" $ }}
            <hr class="hide"/>
        {{- end }}
    {{- end }}
{{- end -}}

{{- define "main" -}}
    {{- $paginator := partial "paginator.html" . }}
    <section id="list-posts" class="pagewidth" aria-labelledby="list-post-heading">
        <header class="section-title">
            <strong id="list-post-heading">
                {{ i18n "postsOn" }}: <span class="{{ .Data.Singular }}">{{ .Title }}</span>
            </strong>
            <hr class="hide"/>
        </header>
        <div role="feed" aria-busy="false" aria-labelledby="list-post-heading">
        {{- range $index, $page := $paginator.Pages }}
            {{- $counter := add $index 1 }}
            {{- $author := default site.Params.Author.name .Params.author }}
            {{- $authors := or (.GetTerms "authors") (.GetTerms "author") }}
            {{- $desc := or .Params.Subtitle .Params.Description .Description .Summary }}
            {{- $hasCover := partial "page/cover.html" (dict "page" .) }}
            {{- $alt := or .Params.Alt .Params.coverAlt .Params.imagesAlt }}
            {{- if $index }}<hr class="ldots" role="presentation" aria-hidden="true">{{- end }}
            <article class="feed-item"
                aria-posinset="{{ $counter }}"
                aria-setsize="{{ $paginator.NumberOfElements }}"
                aria-labelledby="{{ printf "title-%d" $counter }}"
                aria-describedby="{{ printf "desc-%d" $counter }}">
                <hgroup>
                    <div>
                        <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{- .PublishDate | time.Format ":date_long" -}}</time>
                        <span>
                            {{- if $authors }}
                                {{ partial "terms.html" (dict "taxonomy" "author" "type" "delimiter" "tabindex" "-1" "page" .) }}
                            {{- else }}
                                {{- with $author }}<span>{{ . }}</span>{{ end }}
                            {{- end }}
                        </span>
                    </div>
                    <a href="{{ .RelPermalink }}" class="sr0" tabindex="-1">
                        <h1 id="{{ printf "title-%d" $counter }}">{{ .Title }}</h1>
                    </a>
                </hgroup>
                <a class="sri" href="{{ .RelPermalink }}" aria-label="{{ .Title }}"></a>
                <section {{ if $hasCover }}class="has-cover"{{ end }}>
                    {{- if $hasCover }}
                        <img src={{ $hasCover }} alt="{{ .Title }}" loading="lazy">
                    {{- end }}
                    <div class="par" id="{{ printf "desc-%d" $counter }}">
                        {{- plainify $desc }}
                    </div>
                </section>
                <footer>
                    <span class="readingTime">
                        {{- printf "%d %s" .ReadingTime (i18n "readingTime" .ReadingTime | lower ) }}
                    </span>
                    {{- if .Params.tags }}
                        {{ partial "terms.html" (dict "taxonomy" "tags" "class" "rounded invert" "tabindex" "-1" "page" .) }}
                    {{- end }}
                </footer>
            </article>
        {{- end }}
        </div>
        {{- if or .Paginator.HasPrev .Paginator.HasNext }}
            <hr class="hide">
            {{- partial "nav.html" (dict "navID" "pagination" "page" .) }}
        {{- end }}
    </section>
{{- end -}}
